<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}">
<meta http-equiv="Content-Language" content="en-us" >
{% if page.layout == "page" %}{% include page-meta.html %}{%- endif -%}
{% if page.layout == "item" %}{% include item-meta.html %}{%- endif -%}

<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}" type="text/css">
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | absolute_url }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% include other-css.html %}
{% if site.google-tracking-id %}{% include google-analytics.html %}{%- endif -%}
